{% if app.request.get('_route') == 'best365_store_login' or
        app.request.get('_route') == 'best365_store_register' or
        app.request.get('_route') == 'best365_store_password_remember' or
        app.request.get('_route') == 'best365_store_password_recover'%}
<hr class="hr-fade-out margin-top-30">
<p class="align-center font-11">
    {{ "template.store_template_bundle.copy_right"|trans }}
</p>
{% else %}
<footer class="footer">
    <div class="main-theme-border-top sub-theme-border-bottom">
        <div class="footer-image">
            <div class="col-sm-4 footer-image-item">
                <div class="col-sm-2 main-theme-font font-30">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class="col-sm-10">
                    <p class="margin-bottom-5 main-theme-font">{{ "template.store_template_bundle.footer.time_saving"|trans }}</p>
                    <p class="sub-theme-font font-12">{{ "template.store_template_bundle.footer.time_saving_description"|trans }}</p>
                </div>
            </div>
            <div class="col-sm-4 footer-image-item">
                <div class="col-sm-2 main-theme-font font-30">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <div class="col-sm-10">
                    <p class="margin-bottom-5 main-theme-font">{{ "template.store_template_bundle.footer.secure_store"|trans }}</p>
                    <p class="sub-theme-font font-12">{{ "template.store_template_bundle.footer.secure_store_description"|trans }}</p>
                </div>
            </div>
            <div class="col-sm-4 footer-image-item">
                <div class="col-sm-2 main-theme-font font-30">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                </div>
                <div class="col-sm-10">
                    <p class="margin-bottom-5 main-theme-font">{{ "template.store_template_bundle.footer.customer_service"|trans }}</p>
                    <p class="sub-theme-font font-12">{{ "template.store_template_bundle.footer.customer_service_description"|trans }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-content padding-top-15">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <a href="{{ url('store_homepage') }}">
                        <img src="{{ asset('assets/img/logo.png') }}" width="100">
                    </a>
                </div>
                <div class="col-sm-3">
                    <p>
                        {{ "template.store_template_bundle.footer.information"|trans }}
                    </p>
                    <hr class="footer-hr">
                    <ul class="footer-ul">
                        {% set pages = elcodi_footer_pages() %}
                        {% for page in pages %}
                        <li class="footer-li">
                            <a class="main-theme-font" href="{{ url("best365_store_page", {
                                "id": page.id
                            }) }}">{{ page.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-3">
                    <p>
                        {{ 'template.store_template_bundle.footer.follow_us'|trans }}
                    </p>
                    <hr class="footer-hr">
                    <div class="footer-follow-font">
                        <i class="fa fa-facebook-square footer-facebook" aria-hidden="true"></i>
                        <i class="fa fa-twitter-square margin-left-10 footer-twitter" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <p>
                        {{ 'template.store_template_bundle.footer.contact'|trans }}
                    </p>
                    <hr class="footer-hr">
                    <div class="margin-top-10">
                        <p>
                            <span class="glyphicon glyphicon-map-marker"></span>
                            65 Queens Drive, Lower Hutt, Wellington, 5010
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-phone-alt"></span>
                            +64 045682758
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-envelope"></span>
                            fullhealth365@gmail.com
                        </p>
                        <p>
                            <i class="fa fa-weixin" aria-hidden="true"></i>
                            41223695
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endif %}
