<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{{ render(url('best365_store_language_nav', app.request.query.all)) }}
				{{ render(url('best365_store_currency_nav')) }}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-commenting" aria-hidden="true"></i>
                        {{ "template.store_template_bundle.nav.service.selector"|trans }}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu nav-service">
						<div class="row padding-5">
							<div class="col-sm-7 padding-top-8 sub-theme-font">
								<p class="padding-left-10">
                                    {{ "template.store_template_bundle.nav.service.wechat"|trans }}
								</p>
								<p class="padding-left-10">
									0274979425
								</p>
								<hr class="margin-top-10 margin-bottom-10">
								<p class="padding-left-10">
                                    {{ "template.store_template_bundle.nav.service.email"|trans }}
								</p>
								<p class="padding-left-10">
									service.best365@gmail.com
								</p>
								<hr class="margin-top-10 margin-bottom-5">
							</div>
							<div class="col-sm-5">
								<img src="{{ asset('assets/img/customer_service_qrcode.png') }}" width="140px" />
							</div>
						</div>
					</ul>
				</li>
			</ul>
			{{ render(url('best365_store_user_nav')) }}
		</div>
	</div>
</nav>