<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-globe" aria-hidden="true"></i>
        {{ "template.store_template_bundle.nav.lang.selector"|trans }}
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
	{% set routeName = request.attributes.get('_route') %}
    {% set routeParameters = request.attributes.get('_route_params') %}
    {% set routeParameters = routeParameters|merge(params) %}
    {% set index = 1 %}
    {% for language in languages %}
        {% if index > 1 %}
        <li role="seperator" class="divider"></li>
        {% endif %}
        <li>
            <a href="{{ url(routeName, routeParameters|merge({'_locale': language.iso })) }}">
                {% if language.iso == 'zh-CN' %}
                <img src="{{ asset('assets/img/china.png') }}" />
                {% else %}
                <img src="{{ asset('assets/img/new_zealand.png') }}" />
                {% endif %}
                <span class="margin-left-10 {% if language.iso == activeLocale %} bold {% endif %}">{{ ("template.store_template_bundle.nav.lang." ~  language.iso)|trans }}</span>
                <!-- <img src="{{ asset('assets/img/' ~ language.iso ~ '.png') }}" /> -->
                <!-- <span class="margin-left-10">{{ language.iso }}</span> -->
            </a>
        </li>
        {% set index = index + 1 %}
    {% endfor %}
	</ul>
</li>