{% extends '::_base.html.twig' %}

{% block head_style %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}" />

    <!-- External Font assets -->
    <link href="//fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css" />
{% endblock head_style %}

{% block body %}
    {% if app.request.attributes.get('_route') != "best365_store_login" and
        app.request.attributes.get('_route') != "best365_store_register" and
        app.request.attributes.get('_route') != "best365_store_password_remember"%}
        {% block header %}
            {% include '@Best365/Layout/_header.html.twig' %}
        {% endblock header %}
    {% endif %}
    {% block top %}
        {% include '@Best365/Layout/_top.html.twig' %}
    {% endblock top %}
    {% block container %}
        <div class="container">
            {% block messages %}
                {% include "@Best365/Layout/_message.list.html.twig" %}
            {% endblock messages %}
            {% block content %}{% endblock content %}
            {% block prefooter %}{% endblock prefooter %}
        </div>
    {% endblock container %}
    {%  block footer %}
        <div class="container">
            <div class="row">
                {% include '@Best365/Layout/_footer.html.twig' %}
            </div>
        </div>
    {%  endblock footer %}
{% endblock body %}

{% block foot_script %}
<script src="{{ asset('assets/js/jquery-3.0.0.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/search.js') }}"></script>
<script src="{{ asset('assets/js/checkout.js') }}"></script>
<script src="{{ asset('assets/js/product.js') }}"></script>
{% endblock foot_script %}
