{% extends '::_base.html.twig' %}

{% block head_style %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />

    <!-- External Font assets -->
    <link href="//fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css" />
{% endblock head_style %}

{% block body %}
    {% if app.request.attributes.get('_route') != "best365_store_login" and
        app.request.attributes.get('_route') != "best365_store_register" %}
        {% block header %}
            {% include '@Best365/Layout/_header.html.twig' %}
        {% endblock header %}
    {% endif %}

    {% block container %}
    <div class="container">
        {% block topbar %}
            {% include '@Best365/Layout/_top.html.twig' %}
        {% endblock topbar %}
        <div class="content-container">
            {% block messages %}
                {% include "@Best365/Layout/_message.list.html.twig" %}
            {% endblock messages %}
            {% block content %}{% endblock content %}
            {% block prefooter %}{% endblock prefooter %}
        </div>
        {%  block footer %}
            {% include '@StoreTemplate/Modules/_footer.html.twig' %}
        {%  endblock footer %}
    </div>
    {% endblock container %}
{% endblock body %}

{% block foot_script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ asset('bundles/storetemplate/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/search.js') }}"></script>
<script src="{{ asset('assets/js/checkout.js') }}"></script>
<script src="{{ asset('assets/js/product.js') }}"></script>
{% endblock foot_script %}
