<div class="margin-top-10">
    <p>
        <span class="glyphicon glyphicon-map-marker"></span>
        {{ address.address }}, {{ address.postcode }}
    </p>
    <p>
        <span class="glyphicon glyphicon-phone-alt"></span>
        {{ address.phone }}
    </p>
    <p>
        <span class="glyphicon glyphicon-envelope"></span>
        {{ store.email }}
    </p>
    <p>
        <i class="fa fa-weixin" aria-hidden="true"></i>
        {{ address.mobile }}
    </p>
</div>