<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		地区选择
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
	{% set routeName = request.attributes.get('_route') %}
    {% set routeParameters = request.attributes.get('_route_params') %}
    {% set index = 1 %}
    {% for language in languages %}
        {% if index > 1 %}
        <li role="seperator" class="divider"></li>  
        {% endif %}
        <li>
            <a href="{{ url(routeName, routeParameters|merge({'_locale': language.iso })) }}">
                {% if language.iso == 'zh-CN' %}
                <img src="{{ asset('assets/img/china.png') }}" />
                <span class="margin-left-10">中国</span>
                {% else %}
                <img src="{{ asset('assets/img/new_zealand.png') }}" />
                <span class="margin-left-10">New Zealand</span>
                {% endif %}
                <!-- <img src="{{ asset('assets/img/' ~ language.iso ~ '.png') }}" /> -->
                <span class="margin-left-10">{{ language.iso }}</span>
            </a>
        </li>
        {% set index = index + 1 %}
    {% endfor %}
	</ul>
</li>