{% set productRoute = url('best365_store_product_view', { 'id': item.id }) %}
{% set productName = item|purchasable_name %}
<div class="col-sm-3 padding-0">
    <div class="product-item align-center">
        {% block pin_image %}
            <div class="product-img-min-height">
                <a href="{{ productRoute }}">
                    {% if product.inOffer %}<span class="product-badge">{{ 'template.store_template_bundle.product.item.offer'|trans }}</span> {% endif %}
                    {% set validImage = item|valid_image %}
                    <img class="max-width-full" src="{{ validImage ? validImage|resize({
                        'width': 250,
                        'height': 250,
                        'type': 5
                    }) : '//placehold.it/250x250'  }}" alt="{{ productName }}" />
                </a>
            </div>
        {% endblock %}
        {% block pin_title %}
            <div class="sub-theme-font font-12">
                <a href="{{ productRoute }}" class="product-title-link">{{ productName }}</a>
            </div>
        {% endblock %}
        <div class="main-theme-font font-18 margin-top-10">
            {{ item.price|print_convert_money() }}
        </div>
    </div>
</div>
