{% extends "@Best365/Layout/_layout.html.twig" %}
{% block prefooter %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                {% include "@Best365/Layout/_categories.html.twig" with {"categories": categories} %}
            </div>
            <div class="col-sm-10">
                <div id="nav">
                    <a href="{{ url('best365_store_homepage') }}" class="main-theme-link">
                        <span class="glyphicon glyphicon-home"></span> <span>{{ "template.store_template_bundle.product.nav.home"|trans }}</span>
                    </a>
                    <span class="main-theme-font"> > </span>
                    <a class="main-theme-link" href="{{ url('best365_store_category_purchasables_list', { id: purchasable.principalCategory.id }) }}">
                        {{ purchasable.principalCategory }}
                    </a>
                    <span class="main-theme-font"> > </span>
                    <strong class="main-theme-font">{{ purchasable.name }}</strong>
                </div>
                <div class="row margin-top-10">
                    {% set productName = purchasable|purchasable_name %}
                    {% set validImage = purchasable|valid_image %}
                    <div class="col-sm-5">
                        {% block product_image %}
                            <a href="{{ purchasable.images|length > 0 ? purchasable.images.first|resize({
                                'width': 1024,
                                'height': 1024,
                                'type': 5
                            }) : '//placehold.it/772x604' }}" alt="{{ purchasable.name }}" class="product-thumbnail">
                                {% if purchasable.inOffer %}<span class="product-badge">{{ 'template.store_template_bundle.product.view_item.offer'|trans }}</span> {% endif %}
                                <img src="{{ purchasable.images|length > 0 ? purchasable.images.first|resize({
                                    'width': 300,
                                    'height': 300,
                                    'type': 5
                                }) : '//placehold.it/772x604' }}" alt="{{ purchasable.name }}"/>
                            </a>
                        {% endblock %}
                    </div>
                    <div class="col-sm-5 padding-0-30">
                        <h3 class="margin-top-10">{{ purchasable.name }}</h3>
                        <div class="row">
                            <div class="col-sm-2 margin-top-25">
                                {{ 'template.store_template_bundle.product.view_item.tag'|trans }}
                            </div>
                            <div class="col-sm-7 margin-top-25">
                                {% set i = 0 %}
                                {% for tag in purchasable_ext.tag %}
                                    {% if i > 0 %}
                                    <span class="sub-theme-font">, </span>
                                    {% endif %}
                                    <a class="main-theme-link" href="{{ url('best365_store_product_search', { field: tag }) }}">{{ tag }}</a>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 margin-top-25">
                                {{ 'template.store_template_bundle.order.item.price'|trans }}
                            </div>
                            <div class="col-sm-7">
                                <h3 class="margin-bottom-20 margin-top-20 main-theme-font">{{ purchasable.price|print_convert_money() }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 margin-bottom-20 margin-top-20">
                                {{ 'admin.product.section.stock.title'|trans }}
                            </div>
                            <div class="col-sm-7 margin-bottom-20 margin-top-20">
                                <span>{{ purchasable.stock }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 margin-bottom-20 margin-top-20">
                                {{ 'template.store_template_bundle.order.item.units'|trans }}
                            </div>
                            <div class="col-sm-7">
                                <input type="number" id="quantity" name="quantity" class="form-control unit-max-width margin-top-15" min="1" value="1" />
                            </div>
                        </div>
                        {% if not useStock or purchasable.stock > 0 %}
                            <a id="add-cart" title="{{ 'template.store_template_bundle.product.view_item.add_to_cart'|trans }}"
                               class="btn btn-success full-width margin-bottom-20 margin-top-20"
                               data-test="add-product-{{ purchasable.id }}-to-cart"
                               href="{{ url('best365_store_cart_add_purchasable', { id: purchasable.id, quantity: 1}) }}">
                                {{ 'template.store_template_bundle.product.view_item.add_to_cart'|trans }}
                            </a>
                        {% else %}
                            <a title="{{ 'template.store_template_bundle.product.view_item.no_stock'|trans }}"
                               class="btn btn-warning full-width product-label"
                               href="#">
                                {{ 'template.store_template_bundle.product.view_item.no_stock'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <h4 class="product-description-label">{{ 'template.store_template_bundle.product.view_item.description'|trans }}</h4>
                <hr class="product-description-hr">
                <div class="sub-theme-font">
                    {{ purchasable.description|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
