{% set productRoute = url('best365_store_product_view', { 'id': item.id }) %}
{% set productName = item|purchasable_name %}

<div class="col-sm-3 padding-0">
    <div class="align-center product-item{% if app.user %}-with-cart{% endif %}">
        {% block pin_image %}
            <a href="{{ productRoute }}">
                {% if product.inOffer %}<span class="product-badge">{{ 'template.store_template_bundle.product.item.offer'|trans }}</span> {% endif %}
                {% set validImage = item|valid_image %}
                <img class="max-width-full" src="{{ validImage ? validImage|resize({
                    'width': 250,
                    'height': 250,
                    'type': 5
                }) : '//placehold.it/250x250'  }}" alt="{{ productName }}" />
            </a>
        {% endblock %}
        {% block pin_title %}
            <div class="sub-theme-font font-12 margin-top-10">
                <a href="{{ productRoute }}" class="product-title-link no-wrap">{{ productName }}</a>
            </div>
        {% endblock %}
        <div class="main-theme-font font-18 {% if not app.user %} margin-bottom-20 {% endif %}">
            {{ item.price|print_convert_money() }}
        </div>
        {% if app.user %}
            <div class="align-center margin-top-10 margin-bottom-20">
                {% if item.stock > 0 %}
                    <a id="add-cart-{{ item.id }}" class="btn btn-success" href="javascript:void(0)">
                        {{ 'template.store_template_bundle.product.view_item.add_to_cart'|trans }}
                    </a>
                    {#<a id="add-cart" class="btn btn-success" href="{{ url('best365_store_cart_add_purchasable', { id: item.id, quantity: 1}) }}">#}
                        {#{{ 'template.store_template_bundle.product.view_item.add_to_cart'|trans }}#}
                    {#</a>#}
                {% else %}
                    <a class="btn btn-warning" href="#">
                        {{ 'template.store_template_bundle.product.view_item.no_stock'|trans }}
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
