{% extends "@Best365/Layout/_layout.html.twig" %}
{% block prefooter %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                {% include "@Best365/Layout/_categories.html.twig" with {"categories": categories} %}
            </div>
            <div id="product-container" class="col-sm-10"
                 data-in-stock-msg="{{ 'template.store_template_bundle.product.view_item.in_stock'|trans }}"
                 data-sold-out-msg="{{ 'template.store_template_bundle.product.view_item.sold_out'|trans }}">
                <div id="nav">
                    <a href="{{ url('best365_store_homepage') }}" class="main-theme-link">
                        <span class="glyphicon glyphicon-home"></span> <span>{{ "template.store_template_bundle.product.nav.home"|trans }}</span>
                    </a>
                    <span class="main-theme-font"> > </span>
                    <a class="main-theme-link" href="{{ url('best365_store_category_purchasables_list', { id: purchasable.principalCategory.id }) }}">
                        {{ purchasable.principalCategory }}
                    </a>
                    <span class="main-theme-font"> > </span>
                    <strong class="main-theme-font">{{ purchasable.name }}</strong>
                </div>
                <div id="item-{{ purchasable.id }}" data-stock="{{ purchasable.stock }}" class="row margin-top-10">
                    {% set productName = purchasable|purchasable_name %}
                    {% set validImage = purchasable|valid_image %}
                    <div class="col-sm-5">
                        {% block product_image %}
                            <a href="{{ purchasable.images|length > 0 ? purchasable.images.first|resize({
                                'width': 1024,
                                'height': 1024,
                                'type': 5
                            }) : '//placehold.it/772x604' }}" alt="{{ purchasable.name }}" class="product-thumbnail">
                                {% if purchasable.inOffer %}<span class="product-badge">{{ 'template.store_template_bundle.product.view_item.offer'|trans }}</span> {% endif %}
                                <img src="{{ purchasable.images|length > 0 ? purchasable.images.first|resize({
                                    'width': 350,
                                    'height': 350,
                                    'type': 5
                                }) : '//placehold.it/350x350' }}" alt="{{ purchasable.name }}"/>
                            </a>
                        {% endblock %}
                    </div>
                    <div class="col-sm-5 padding-0-8">
                        <div class="row font-25">
                                {{ purchasable.name }}
                        </div>
                        <div class="row margin-top-10">
                            <span class="sub-theme-font font-12 original-price">
                                {{ purchasable.reducedPrice|print_convert_money() }}
                            </span>
                        </div>
                        <div class="row margin-top-10">
                            <span class="main-theme-font font-18">
                                {{ purchasable.price|print_convert_money() }}
                            </span>
                        </div>

                        <div class="row margin-top-10">
                            <span id="stock-label" class="stock-container">
                                {% if purchasable.stock > 0 %}
                                    <span class="main-theme-font"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                                    {{ 'template.store_template_bundle.product.view_item.in_stock'|trans }}
                                {% else %}
                                    <span class="sold-out-font">
                                        <i class="fa fa-ban" aria-hidden="true"></i>
                                    </span>
                                    {{ 'template.store_template_bundle.product.view_item.sold_out'|trans }}
                                {% endif %}
                            </span>
                        </div>
                        <div class="row">
                            <hr>
                        </div>

                        {% if purchasable.manufacturer %}
                            <div class="row">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                                <a class="main-theme-link" href="{{ url('best365_store_product_search', { field: purchasable.manufacturer.name }) }}">{{ purchasable.manufacturer.name }}</a>
                            </div>
                        {% endif %}
                        <div class="row margin-top-10">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            {% set i = 0 %}
                            {% for tag in purchasable_ext.tag %}
                                {% if i > 0 %}
                                <span class="sub-theme-font">, </span>
                                {% endif %}
                                <a class="main-theme-link" href="{{ url('best365_store_product_search', { field: tag }) }}">{{ tag }}</a>
                                {% set i = i + 1 %}
                            {% endfor %}
                        </div>
                        <div class="row">
                            <hr>
                        </div>
                        <div class="row">
                            <input type="number" id="cart-quantity" name="quantity" class="form-control unit-display" min="1" value="1" />
                            <a id="add-cart-{{ purchasable.id }}" title="{{ 'template.store_template_bundle.product.view_item.add_to_cart'|trans }}"
                               class="btn btn-success margin-left-10"
                               data-test="add-product-{{ purchasable.id }}-to-cart"
                               href="javascript:void(0)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                {{ 'template.store_template_bundle.product.view_item.add_to_cart'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
                <h4 class="product-description-label">{{ 'template.store_template_bundle.product.view_item.description'|trans }}</h4>
                <hr class="product-description-hr">
                <div class="sub-theme-font">
                    {{ purchasable.description|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
