{% extends "@Best365/Layout/_layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row padding-0-30">
            <p class="page-title">
                {{ 'template.store_template_bundle.cart.view.checkout'|trans }}
            </p>
            <form method="post" action="{{ url('best365_store_save_shipping') }}" class="margin-top-30">
                <div class="form-group row">
                    <label class="col-sm-1 margin-top-5">
                        {{ 'template.store_template_bundle.checkout.payment.payment_method'|trans }}
                    </label>
                    <div class="col-sm-8">
                        <select name="payment-method" class="form-control payment-max-width">
                            <option value="poli"{% if activeCurrency.iso == 'NZD' %} selected {% endif %}>
                                {{ 'template.store_template_bundle.checkout.payment.poli'|trans }}
                            </option>
                            <option value="wechat"{% if activeCurrency.iso == 'CNY' %} selected {% endif %}>
                                {{ 'template.store_template_bundle.checkout.payment.wechat'|trans }}
                            </option>
                            <option value="transfer">
                                {{ 'template.store_template_bundle.checkout.payment.transfer'|trans }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 margin-top-5">
                        {{ 'template.store_template_bundle.shipping.carrier'|trans }}
                    </label>
                    <div class="col-sm-8">
                        <select id="shipping-method" name="shipping-method" class="form-control carrier-max-width">
                            {% for shipping_method in shipping_methods %}
                                <option value="{{ shipping_method.id }}">
                                    {{ shipping_method.name }}
                                </option>
                            {% endfor %}
                        </select>
                        {% for shipping_method in shipping_methods  %}
                            <input type="hidden" value="{{ shipping_method.price|print_convert_money() }}" id="{{ shipping_method.id }}-price" />
                        {% endfor %}
                        <input type="hidden" id="cart-weight" value="{{ cart.weight }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 margin-top-5">
                        {{ 'template.store_template_bundle.checkout.price'|trans }}
                    </label>
                    <div class="col-sm-8">
                        <p id="shipping-price" class="margin-top-5">
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 margin-top-5">
                        {{ 'template.store_template_bundle.shipping.subtotal'|trans }}
                    </label>
                    <div class="col-sm-8">
                        <p id="subtotal" class="margin-top-5">
                            {{ cart.amount|print_convert_money() }}
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 margin-top-5">
                        {{ 'template.store_template_bundle.shipping.total'|trans }}
                    </label>
                    <div class="col-sm-8">
                        <p id="total-price" class="margin-top-5">

                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 margin-top-5">
                        {{ 'template.store_template_bundle.address.item.address'|trans }}
                    </label>
                    <div class="col-sm-8">
                        <select name="address" class="form-control">
                            {% for address in addresses %}
                                <option value="{{ address.id }}">
                                    {% if activeLocale == 'zh-CN' %}
                                        {{ address.recipientSurname }}{{ address.recipientName }}, {{ address.address }}
                                    {% else %}
                                        {{ address.recipientName }} {{ address.recipientSurname }}, {{ address.address }}
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="align-right margin-top-10">
                            <a id="add-new" href="" class="main-theme-link">
                                <span id="add-new-icon" class="glyphicon glyphicon-plus-sign"></span>
                                {{ 'template.store_template_bundle.address.edit.add_new_address'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
                <a class="btn btn-success float-left" href="{{ url('best365_store_cart_view') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ 'template.store_template_bundle.checkout.back'|trans }}
                </a>
                <button type="submit" name="payment" class="btn btn-success float-right" data-test="payment-button">
                    {{ 'template.store_template_bundle.cart.view.checkout'|trans }}
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </form>
        </div>
        <div id="new-address" class="margin-top-30 row collapse padding-right-30">
            <hr>
            <div class="padding-0-30">
                <p class="page-title">
                    {{ "template.store_template_bundle.checkout.address.add_new_address"|trans }}
                </p>
                {% include '@Best365/User/address.item.html.twig' with { form: form } %}
            </div>
        </div>
    </div>
{% endblock %}