<table class="table">
    <thead>
        <tr>
            <th>
                {{ 'admin.product.field.image.title'|trans }}
            </th>
            <th>
                {{ 'admin.product.field.name_details.title'|trans }}
            </th>
            <th>
                {{ 'admin.product.field.main_category.title'|trans }}
            </th>
            <th>
                {{ 'admin.product.field.price.title'|trans }}
            </th>
            <th>
                {{ 'admin.product.field.stock.title'|trans }}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in product %}
            <td>
                {% if item.images|length > 0 %}
                    <a href="{{ url('admin_product_edit', { id: item.id }) }}" class="thumbnail">
                        <img src="{{ item.getSortedImages.first|resize({ height: 100, width: 100, type: 5 }) }}" />
                    </a>
                {% endif %}
            </td>
            <td>
                <a href="{{ url('admin_product_edit', { id: item.id }) }}">
                    <strong>{{ item.name }}</strong>
                </a>
                {% set path = url('store_product_view', { id: item.id, slug: item.slug }) %}
                {% set relativePath = path('store_product_view', { id: item.id, slug: item.slug }) %}
                <p class="fz-s">
                    <a target="_blank" href="{{ path }}">{{ relativePath }}</a>
                </p>
                {% if item.enabled %}
                    <span class="label-ok fz-xs">{{ 'admin.product.field.enabled.options.active'|trans }}</span>
                {% else %}
                    <span class="label fz-xs">{{ 'admin.product.field.enabled.options.inactive'|trans }}</span>
                {% endif %}
                {% if item.showInHome %}
                    <span class="label-info fz-xs">
                {{'admin.product.tag.in_home'|trans}}
                    </span>
                {% endif %}

                {% if item.hasVariants %}
                    <span class="label bg-secondary fz-xs c-background">
                        {{'admin.product.tag.has_variants'|trans}}
                    </span>
                {% endif %}

                {% if item.principalCategory is null %}
                    <span class="label label-ko fz-xs">
                    <i class="icon-warning mr-s"></i>
                        {{'admin.product.tag.no_category'|trans}}
                    </span>
                {% endif %}

                {% if item.manufacturer is null %}
                    <span class="label label-ko fz-xs">
                        <i class="icon-warning mr-s"></i>
                        {{'admin.product.tag.no_manufacturer'|trans}}
                    </span>
                {% endif %}
            </td>
            <td>
                {% if item.principalCategory %}
                    <a href="{{ url('admin_category_edit', { id: item.principalCategory.id }) }}">
                        {{ item.principalCategory.name }}
                    </a>
                {% endif %}
            </td>
            <td class="ta-r">
                {{ item.price|print_money }}
            </td>
            <td class="ta-r {% if not store.useStock %}d-n{% endif %}">
                {% if entity.stock >= 5 %}
                    {% set stockColor = 'c-ok' %}
                {% elseif entity.stock > 0 and entity.stock < 10 %}
                    {% set stockColor = 'c-warning' %}
                {% else %}
                    {% set stockColor = 'c-ko' %}
                {% endif %}
                <span class="{{ stockColor }}"> {{ item.stock }}</span>
            </td>
            {% include '@AdminCore/Tables/actions.html.twig' with {
                entity: item,
                class: 'product',
            } %}
        {% endfor %}
    </tbody>
</table>