{% extends "@Best365LayoutStoreTemplate/Layout/_layout.html.twig" %}

{% block prefooter %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h3>
                {{ 'template.store_template_bundle.user.login.login_with_account'|trans }}
            </h3>
            {{ form_start(form) }}
                {{ form_row(form.email, { attr: { class: "form-control" } }) }}
                {{ form_row(form.password, { attr: { class: "form-control" } }) }}
                {{ form_row(form.send, { attr: { class: 'btn btn-success full-width' } }) }}
            {{ form_end(form) }}
            <div class="align-right">
                <a href="{{ url('best365_store_password_remember') }}">
                    {{ 'template.store_template_bundle.user.login.forgot_your_password'|trans }}
                </a>
            </div>
        </div>
        <div class="col-md-5 margin-left-10 float-right">
            <h3>
                {{ 'template.store_template_bundle.user.login.unregistered'|trans }}
            </h3>
            <a class="btn btn-success margin-top-10" href="{{ url('best365_store_register') }}">
                {{ 'template.store_template_bundle.user.login.create_new_account'|trans }}
            </a>
            <h3>
                {{ 'template.store_template_bundle.user.login.login_with_social'|trans }}
            </h3>
            <div class="margin-top-10">
                {{ render(url('hwi_oauth_connect')) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}