<div class="profile-font">
    <span class="profile-icon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
    {{ "template.store_template_bundle.greeting.greeting"|trans }}
    {% if customer.id %}
        {{ customer.firstname }}
    {% else %}
        <a href="{{ url('best365_store_login') }}" class="main-theme-link">{{ "template.store_template_bundle.greeting.guest"|trans }}</a>
    {% endif %}
</div>
<div class="row margin-top-10">
    <div class="col-sm-6 profile-font">
        <div class="profile-function-icon">
            <a href="{{ url('best365_store_user') }}" class="profile-font" title="{{ "template.store_template_bundle.user.home.profile"|trans }}">
                <i class="fa fa-address-card-o profile-function-icon" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="col-sm-6 profile-font">
        <div class="profile-function-icon">
            <a href="{{ url('best365_store_cart_view') }}" class="profile-font" title="{{ "template.store_template_bundle.user.nav.cart"|trans }}">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6  profile-font">
        <div class="profile-function-icon">
            <a href="{{ url('best365_store_order_list') }}" class="profile-font" title="{{ "template.store_template_bundle.user.home.my_orders"|trans }}">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="col-sm-6  profile-font">
        <div class="profile-function-icon padding-left-10">
            <a href="{{ url('best365_store_address_list') }}" class="profile-font" title="{{ "template.store_template_bundle.user.home.my_addresses"|trans }}">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<hr>
<div class="row profile-font padding-left-10">
    {{ "template.store_template_bundle.profile.customer_service"|trans }}
</div>
<div class="row align-center">
    <img src="{{ asset('assets/img/qrcode.png') }}" width="150" height="150" />
</div>