<div id="cart-display" class="col-sm-9"
     data-in-stock-msg="{{ 'template.store_template_bundle.product.view_item.in_stock'|trans }}"
     data-sold-out-msg="{{ 'template.store_template_bundle.product.view_item.sold_out'|trans }}">
    <p class="page-title">{{ 'template.store_template_bundle.cart.view.title'|trans }}</p>
    <table class="table margin-top-20">
        <tbody>
        {% for line in cart.cartLines %}
            <tr id="item-{{ line.id }}" data-stock="{{ line.purchasable.stock }}" data-weight="{{ line.purchasable.weight }}">
                {% set purchasable = line.purchasable %}
                {% set purchasableRoute = url('best365_store_product_view', { id: purchasable.id }) %}
                {% set productName = purchasable|purchasable_name %}
                {% set validImage = purchasable|valid_image %}
                <td class="max-w">
                    <img src="{{ validImage ? validImage|resize({
                        width: 150,
                        height: 150,
                        type: 5 }) : '//placehold.it/150x150'
                    }}" alt="{{ product.name }}" />
                </td>
                <td>
                    <div>
                        <a href="{{ purchasableRoute }}" class="main-theme-link bold">{{ productName }}</a>
                    </div>
                    <div class="margin-top-15">
                        <input type="number" id="quantity-{{ line.id }}" class="unit-display form-control" min="1" value="{{ line.quantity }}" />
                        <span id="stock-label" class="stock-container margin-left-15">
                            {% if line.quantity <= purchasable.stock %}
                                <span class="main-theme-font"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                                {{ 'template.store_template_bundle.product.view_item.in_stock'|trans }}
                            {% else %}
                                <span class="sold-out-font"><i class="fa fa-ban" aria-hidden="true"></i></span>
                                {{ 'template.store_template_bundle.product.view_item.sold_out'|trans }}
                            {% endif %}
                        </span>
                    </div>
                    <div class="margin-top-15">
                        <span id="unit-price-{{ line.id }}" class="sub-theme-font">
                            {{ line.purchasableAmount|print_convert_money() }}
                        </span>
                    </div>
                    <div class="margin-top-15">
                        <a href="{{ url('best365_store_cartline_remove', { id: line.id }) }}" class="main-theme-link">
                            {{ 'template.store_template_bundle.cart.item.remove'|trans }}
                        </a>
                    </div>
                </td>
                <td>
                    <span id="line-price-{{ line.id }}" class="main-theme-font bold font-18">
                        {{ line.amount|print_convert_money() }}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="float-right btn btn-success" href="{{ url('best365_store_cart_empty') }}" data-test="do-empty-cart">
        {{ 'template.store_template_bundle.cart.view.empty_basket'|trans }}
    </a>
</div>
