{% extends "@Best365/Layout/_layout.html.twig" %}

{% block content %}
    <div class="container">
        <input type="hidden" id="cart-item-number" value="{{ cart.totalItemNumber }}" />
        {% if cart.totalItemNumber == 0 %}
            <div class="empty-page" data-test="empty-cart">
                <h4>
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    {{ "template.store_template_bundle.cart.view.your_cart_is_empty"|trans}}
                </h4>
                <a class="btn btn-success" href="{{ url('best365_store_homepage') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ 'template.store_template_bundle.cart.view.continue_shopping'|trans }}
                </a>
            </div>
        {% else %}
            <div id="cart-display" class="col-sm-9">
                <p class="page-title">{{ 'template.store_template_bundle.cart.view.title'|trans }}</p>
                <table class="table margin-top-20">
                    <tbody>
                        {% for line in cart.cartLines %}
                            <tr>
                                {% set purchasable = line.purchasable %}
                                {% set purchasableRoute = url('best365_store_product_view', { id: purchasable.id }) %}
                                {% set productName = purchasable|purchasable_name %}
                                {% set validImage = purchasable|valid_image %}
                                <td class="max-w">
                                    <img src="{{ validImage ? validImage|resize({
                                        width: 150,
                                        height: 150,
                                        type: 5 }) : '//placehold.it/150x150'
                                    }}" alt="{{ product.name }}" />
                                </td>
                                <td>
                                    <div>
                                        <a href="{{ purchasableRoute }}" class="main-theme-link bold">{{ productName }}</a>
                                    </div>
                                    <div class="margin-top-15">
                                        <input type="hidden" id="stock-{{ line.id  }}" value="{{ purchasable.stock }}" />
                                        <input type="hidden" id="in-stock-msg" value="{{ 'template.store_template_bundle.product.view_item.in_stock'|trans }}" />
                                        <input type="hidden" id="sold-out-msg" value="{{ 'template.store_template_bundle.product.view_item.sold_out'|trans }}" />
                                        <input type="number" id="quantity-{{ line.id }}" class="unit-display form-control" min="1" value="{{ line.quantity }}" />
                                        <span id="stock-label" class="stock-container margin-left-15">
                                            {% if line.quantity <= purchasable.stock %}
                                                <span class="main-theme-font"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                                                {{ 'template.store_template_bundle.product.view_item.in_stock'|trans }}
                                            {% else %}
                                                <span class="sold-out-font"><i class="fa fa-ban" aria-hidden="true"></i></span>
                                                {{ 'template.store_template_bundle.product.view_item.sold_out'|trans }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="margin-top-15">
                                        <span id="unit-price-{{ line.id }}" class="sub-theme-font">
                                            {{ line.purchasableAmount|print_convert_money() }}
                                        </span>
                                    </div>
                                    <div class="margin-top-15">
                                        <a href="{{ url('best365_store_cartline_remove', { id: line.id }) }}" class="main-theme-link">
                                            {{ 'template.store_template_bundle.cart.item.remove'|trans }}
                                        </a>
                                    </div>
                                    <input type="hidden" id="weight-{{ line.id }}" value="{{ purchasable.weight }}" />
                                </td>
                                <td>
                                    <span id="line-price-{{ line.id }}" class="main-theme-font bold font-18">
                                        {{ line.amount|print_convert_money() }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <a class="float-right btn btn-success" href="{{ url('best365_store_cart_empty') }}" data-test="do-empty-cart">
                    {{ 'template.store_template_bundle.cart.view.empty_basket'|trans }}
                </a>
            </div>
            <div class="col-sm-3 checkout-bg">
                <form method="post" action="{{ url('best365_store_save_shipping') }}">
                    <p class="font-18 bold">
                        {{ 'template.store_template_bundle.checkout.summary.summary'|trans }}
                    </p>
                    <hr class="checkout-hr">
                    <p class="bold">
                        {{ 'template.store_template_bundle.checkout.summary.delivery'|trans }}
                    </p>
                    {% include '@Best365/Cart/address.options.html.twig' with {'addresses' : addresses} %}
                    {% include '@Best365/Cart/delivery.options.html.twig' with {'shipping_methods' : shipping_methods} %}
                    <hr class="checkout-hr margin-top-20">
                    {% include '@Best365/Cart/checkout.info.html.twig' with {'cart' : cart} %}
                    <hr class="checkout-hr">
                    {% include '@Best365/Cart/payment.options.html.twig' %}
                    <button type="submit" id="payment" name="payment" class="btn btn-success full-width margin-top-20" data-test="payment-button">
                        {{ 'template.store_template_bundle.cart.view.checkout'|trans }}
                    </button>
                </form>
            </div>
            <div id="edit-address" class="container" title="{{ 'template.store_template_bundle.address.edit.add_new_address'|trans }}" style="overflow: auto">
                {% include '@Best365/User/address.item.html.twig' with { form: form, cart: true } %}
            </div>
        {% endif %}
    </div>
{% endblock %}