{% extends "@Best365/Layout/_layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row padding-0-30">
            <p class="page-title">{{ 'template.store_template_bundle.cart.view.title'|trans }}</p>
            {% if cart.totalItemNumber > 0 %}
                {{ form_start(form, {'action': path('best365_store_cart_update') }) }}
                <div id="cart-display">
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2">
                                {{ 'template.store_template_bundle.cart.item.item'|trans }}
                            </th>
                            <th>
                                {{ 'template.store_template_bundle.cart.item.units'|trans }}
                            </th>
                            <th>
                                {{ 'template.store_template_bundle.cart.item.price'|trans }}
                            </th>
                            <th>
                                {{ 'template.store_template_bundle.cart.item.total'|trans }}
                            </th>
                            <th>

                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in form.cartLines %}
                            {% set lineObject = line.vars.data %}
                            {% set purchasable = lineObject.purchasable %}
                            {% set masterPurchasable = purchasable.product ?: purchasable %}
                            {% set purchasableRouteName = 'best365_store_product_view' %}
                            {% set purchasableRoute = url(purchasableRouteName, { id: masterPurchasable.id }) %}
                            {% set purchasableName = purchasable|purchasable_name %}
                            {% set validImage = purchasable|valid_image %}
                            {% set purchasablePrice = purchasable.resolvedPrice %}
                            <tr>
                                <td>
                                    <a href="{{ purchasableRoute }}">
                                        <img src="{{ validImage ? validImage|resize({
                                            width: 100,
                                            height: 100,
                                            type: 5 }) : '//placehold.it/100x100'
                                        }}" alt="{{ purchasableName }}" class="product-thumbnail" />
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ purchasableRoute }}" class="product-title product-title-link">{{ purchasableName }}</a>
                                </td>
                                <td>
                                    {{ form_row(line.quantity, {'attr': {'class': 'unit-max-width'}}) }}
                                </td>
                                <td>
                                    {{ purchasablePrice|print_convert_money() }}
                                </td>
                                <td>
                                    {{ lineObject.amount|print_convert_money() }}
                                </td>
                                <td>
                                    <a href="{{ url('best365_store_cartline_remove', { id: lineObject.id }) }}" class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="align-right">
                        {{ 'template.store_template_bundle.cart.view.total'|trans }}
                        {{ cart.amount|print_convert_money() }}
                    </p>
                </div>

                <div id="cart-actions">
                    <a class="float-left btn btn-success" href="{{ url('store_homepage') }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        {{ 'template.store_template_bundle.cart.view.continue_shopping'|trans }}
                    </a>
                    <a class="float-right btn btn-success margin-left-10" href="{{ url('best365_store_checkout_shipping') }}" data-test="checkout-button">
                        {{ 'template.store_template_bundle.cart.view.checkout'|trans }} &nbsp;
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    {{
                    form_widget(form.update, {
                        label: 'template.store_template_bundle.cart.view.update_basket',
                        attr: {
                            class: 'float-right margin-left-10 btn btn-info'
                        }
                    })
                    }}
                    <a class="float-right btn btn-info" href="{{ url('best365_store_cart_empty') }}" data-test="do-empty-cart">
                        {{ 'template.store_template_bundle.cart.view.empty_basket'|trans }}
                    </a>
                </div>
                {{ form_end(form) }}
            {% else %}
                <div class="cart-empty-page" data-test="empty-cart">
                    <h4>
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </h4>
                    <h4>
                        {{ "template.store_template_bundle.cart.view.your_cart_is_empty"|trans}}
                    </h4>
                    <a class="btn btn-success" href="{{ url('store_homepage') }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        {{ 'template.store_template_bundle.cart.view.continue_shopping'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}