<div>
	<div class="list-item-image">
		{% set purchasable = item.orderLines.first.purchasable %}
	    {% set purchasableName = purchasable|purchasable_name %}
	    {% set validImage = purchasable|valid_image %}
	    <img src="{{ validImage ? validImage|resize({
	       'width': 80,
	       'height': 80,
	       'type': 5
	   }) : '//placehold.it/80x80' }}" alt="{{ purchasableName }}" class="product-thumbnail" />
	</div>
	<div class="list-item-name">
		<a href="{{ url('best365_store_order_view', { id: order.id }) }}" class="product-title-link">
			{{ purchasableName }}
		</a>
	</div>
	<div class="list-item-price">
		{{ order.amount|print_convert_money() }}
	</div>
	<div class="list-item-order-info">
		{{ 'template.store_template_bundle.order.list.order_number'|trans }}{{ item.id }}
	</div>
	<div class="list-item-order-date">
		{{ item.createdAt|date('d.m.Y') }}
	</div>
	<div class="list-item-order-status">
		{{ "common.order.states.#{item.paymentStateLineStack.lastStateLine.name}"|trans }}
	</div>
</div>