<tr>
	<td>
		<a href="{{ url('best365_store_order_view', { id: item.id }) }}" class="main-theme-link">
			{{ 'template.store_template_bundle.order.list.order_number'|trans }}{{ item.id }}
		</a>
	</td>
	<td width="40%">
		{% for line in item.orderLines %}
			{% set purchasable = line.purchasable %}
			{% set purchasable = purchasable.product ?: purchasable %}
			{% set productName = purchasable|purchasable_name %}
			<p>{{ productName }} * {{ line.quantity }}</p>
		{% endfor %}
	</td>
	<td>
		{{ item.amount|print_convert_money() }}
	</td>
	<td>
		{{ item.createdAt|date('Y.m.d') }}
	</td>
	<td>
		{% if "#{item.paymentStateLineStack.lastStateLine.name}" == "paid"  %}
			{{ "common.order.states.#{item.shippingStateLineStack.lastStateLine.name}"|trans }}
		{% else %}
			{{ "common.order.states.#{item.paymentStateLineStack.lastStateLine.name}"|trans }}
		{% endif %}
	</td>
	<td>
		{% if "#{item.paymentStateLineStack.lastStateLine.name}" == "paid" %}
			{% for number in item.trackingNum  %}
				<p>
					{% if number|slice(0,2) == 'EF' %}
						<a class="main-theme-link" target="_blank" href="{{ efs_url }}{{ number }}">{{ number }}</a>
					{% elseif number|slice(0,2) == 'ZY' %}
						<a class="main-theme-link" target="_blank" href="{{ qexpress_url }}{{ number }}">{{ number }}</a>
					{% elseif number|slice(0,2) == 'MW' %}
						<a class="main-theme-link" target="_blank" href="{{ milkyway_url }}{{ number }}">{{ number }}</a>
					{% elseif number|slice(0,2) == 'NZ' %}
						<a class="main-theme-link" target="_blank" href="{{ ftd_url }}">{{ number }}</a>
					{% elseif number matches '/^\\d+$/' %}
						<a class="main-theme-link" target="_blank" href="{{ flyway_url }}">{{ number }}</a>
					{% endif %}
				</p>
			{% endfor %}
		{% elseif item.ref|slice(0,6) == 'weixin' %}
			<div id="qr-{{ item.id }}">
				<input type="hidden" value="{{ item.ref }}" id="ref-{{ item.id }}" />
			</div>
		{% endif %}
	</td>
</tr>
