<tr>
	<td>
		<a href="{{ url('best365_store_order_view', { id: item.id }) }}" class="main-theme-link">
			{{ 'template.store_template_bundle.order.list.order_number'|trans }}{{ item.id }}
		</a>
	</td>
	<td>
		{% for line in item.orderLines %}
			{% set purchasable = line.purchasable %}
			{% set purchasable = purchasable.product ?: purchasable %}
			{% set productName = purchasable|purchasable_name %}
			<p>{{ productName }} * {{ line.quantity }}</p>
		{% endfor %}
	</td>
	<td>
		{{ item.amount|print_convert_money() }}
	</td>
	<td>
		{{ item.createdAt|date('Y.m.d') }}
	</td>
	<td>
		{% if "#{item.paymentStateLineStack.lastStateLine.name}" == "paid"  %}
			{{ "common.order.states.#{item.shippingStateLineStack.lastStateLine.name}"|trans }}
		{% else %}
			{{ "common.order.states.#{item.paymentStateLineStack.lastStateLine.name}"|trans }}
		{% endif %}
	</td>
	<td>
		{% if "#{item.paymentStateLineStack.lastStateLine.name}" == "paid" %}
			<a class="main-theme-link" target="_blank" href="{{ efs_url }}{{ item.trackingNum }}">{{ item.trackingNum }}</a>
		{% elseif item.ref|length == 13 %}
			{{ item.ref }}
		{% else %}
			<div id="qr-{{ item.id }}">
				<input type="hidden" value="{{ item.ref }}" id="ref-{{ item.id }}" />
			</div>
		{% endif %}

	</td>
</tr>