{% extends "@Best365/User/user.layout.html.twig" %}

{% block userbody %}
{% set perPage = 10 %}
{% if app.request.get('page') %}
	{% set page = app.request.get('page') %}
{% else %}
	{% set page = 1 %}
{% endif %}
{% set start = perPage * (page - 1) %}
{% set end = perPage * page - 1 %}
<div class="col-xs-10">
    {% if error %}
		<div class="alert alert-danger">
			<p>{{ 'template.store_template_bundle.order.view.error'|trans }}</p>
		</div>
        {{ elcodi_hook("store.order_thanks") }}
    {% endif %}
	<p class="page-title">
		{% if app.request.attributes.get('_route') == "best365_store_order_list" %}
			{{ 'template.store_template_bundle.order.list.orders'|trans }}
		{% endif %}
	</p>
	<div id="pagination-header">
	    {% include "@Best365/Layout/_pagination.header.html.twig"  with { "line": orders, "perPage": perPage } %}
	</div>
	{% set i = 0 %}
	<table class="table margin-top-10">
		<thead>
			<tr>
				<th>
					{{ "template.store_template_bundle.order.list.orders"|trans }}
				</th>
				<th>
					{{ "template.store_template_bundle.order.list.item"|trans }}
				</th>
				<th>
					{{ "template.store_template_bundle.order.list.total"|trans }}
				</th>
				<th>
					{{ "template.store_template_bundle.order.list.date"|trans }}
				</th>
				<th>
					{{ "template.store_template_bundle.order.list.status"|trans }}
				</th>
				<th>
					{{ "template.store_template_bundle.order.list.tracking_num"|trans }}/
					{{ "template.store_template_bundle.order.list.reference"|trans }}
				</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
				{% if i >= start and i <= end %}
					{% include "@Best365/User/list.item.html.twig" with {"item": order} %}
				{% endif %}
				{% set i = i + 1 %}
			{% endfor %}
		</tbody>
	</table>
	<div id="pagination-footer">
		{% include "@Best365/Layout/_pagination.footer.html.twig"  with { "line": orders, "perPage": perPage } %}
	</div>
</div>
{% endblock %}