{% set purchasable = line.purchasable %}
{% set purchasableRoute = url('best365_store_product_view', { id: purchasable.id }) %}
{% set productName = purchasable|purchasable_name %}
{% set validImage = purchasable|valid_image %}
<tr>
    <td>
        <img src="{{ validImage ? validImage|resize({
            width: 120,
            height: 120,
            type: 5 }) : '//placehold.it/120x120'
        }}" alt="{{ product.name }}" class="product-thumbnail" />
    </td>
    <td><a href="{{ purchasableRoute }}" class="sub-theme-link">{{ productName }}</a></td>
    <td>{{ line.quantity }}</td>
    <td>{{ line.purchasableAmount|print_convert_money() }}</td>
    <td>{{ line.amount|print_convert_money() }}</td>
</tr>
