{% extends "@Best365/User/user.layout.html.twig" %}

{% block userbody %}
<div class="col-sm-10">
    <div>
        {% if thanks %}
            <div class="alert alert-success">
                <p><strong>{{ 'template.store_template_bundle.order.view.congratulations'|trans }}</strong></p>
                <p>{{ 'template.store_template_bundle.order.view.thanks'|trans }}</p>
                {% if transfer %}
                <p>{{ 'template.store_template_bundle.order.view.reference'|trans }} <strong>{{ order.ref }}</strong></p>
                {% endif %}
            </div>
            {{ elcodi_hook("store.order_thanks") }}
        {% else %}
            <p class="page-title">
                {{ 'template.store_template_bundle.order.view.order'|trans }} #{{ order.id }}
                {% if not thanks %}
                ({{ 'template.store_template_bundle.order.item.reference'|trans }} : {{ order.ref }})
                {% endif %}
            </p>
        {% endif %}
        <table class="table">
            <thead>
                <td colspan="2">
                    {{ 'template.store_template_bundle.order.item.item'|trans }}
                </td>
                <td>
                    {{ 'template.store_template_bundle.order.item.units'|trans }}
                </td>
                <td>
                    {{ 'template.store_template_bundle.order.item.price'|trans }}
                </td>
                <td>
                    {{ 'template.store_template_bundle.order.item.total'|trans }}
                </td>
            </thead>
            <tbody>
                {% for line in order.orderLines %}
                    {% include "@Best365/User/order.item.html.twig" with { "line": line } %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="align-right"><span>{{ 'template.store_template_bundle.order.view.shipping'|trans }}</span> {{ order.shippingAmount|print_convert_money() }}</p>
    <p class="align-right"><span>{{ 'template.store_template_bundle.order.view.total'|trans }} </span>{{ order.amount|print_convert_money() }}</p>
</div>
{% endblock %}
