{% extends "@Best365/User/user.layout.html.twig" %}

{% block userbody %}
<div class="col-sm-10">
    <div>
        {% if thanks %}
            <div class="alert alert-success">
                <p><strong>{{ 'template.store_template_bundle.order.view.congratulations'|trans }}</strong></p>
                <p>{{ 'template.store_template_bundle.order.view.thanks'|trans }}</p>
                {% if transfer %}
                <p>{{ 'template.store_template_bundle.order.view.reference'|trans }}</p>
                {% endif %}
            </div>
            {{ elcodi_hook("store.order_thanks") }}
        {% endif %}
        <p class="page-title">
            {{ 'template.store_template_bundle.order.view.order'|trans }} #{{ order.id }} ( {{ "common.order.states.#{order.paymentStateLineStack.lastStateLine.name}"|trans }} )
        </p>
        <div class="main-theme-font">
            {% if "#{order.paymentStateLineStack.lastStateLine.name}" == "unpaid" and order.ref|length == 13 and not thanks %}
                {{ 'template.store_template_bundle.order.item.reference'|trans }} : {{ order.ref }}
            {% elseif "#{order.paymentStateLineStack.lastStateLine.name}" == "paid" and order.trackingNum %}
                {% set i = 0 %}
                {{ 'template.store_template_bundle.order.list.tracking_num'|trans }} :
                {% for number in order.trackingNum  %}
                    {% if i > 0 %}
                        ,
                    {% endif %}
                    {% if number|slice(0,2) == 'EF' %}
                        <a class="main-theme-link" target="_blank" href="{{ efs_url }}{{ number }}">{{ number }}</a>
                    {% elseif number|slice(0,2) == 'ZY' %}
                        <a class="main-theme-link" target="_blank" href="{{ qexpress_url }}{{ number }}">{{ number }}</a>
                    {% elseif number|slice(0,2) == 'MW' %}
                        <a class="main-theme-link" target="_blank" href="{{ milkyway_url }}{{ number }}">{{ number }}</a>
                    {% elseif number|slice(0,2) == 'NZ' %}
                        <a class="main-theme-link" target="_blank" href="{{ ftd_url }}">{{ number }}</a>
                    {% elseif number matches '/^\\d+$/' %}
                        <a class="main-theme-link" target="_blank" href="{{ flyway_url }}">{{ number }}</a>
                    {% endif %}
                    {% set i = i + 1 %}
                {% endfor %}
            {% elseif "#{order.paymentStateLineStack.lastStateLine.name}" == "unpaid" and order.ref|slice(0, 6) == 'weixin'  %}
                <p>{{ 'template.store_template_bundle.order.item.wechat'|trans }}</p>
                <div id="qr-{{ order.id }}" data-ref="{{ order.ref }}">
                </div>
            {% endif %}
        </div>
        <table class="table">
            <thead>
                <td colspan="2">
                    {{ 'template.store_template_bundle.order.item.item'|trans }}
                </td>
                <td>
                    {{ 'template.store_template_bundle.order.item.units'|trans }}
                </td>
                <td>
                    {{ 'template.store_template_bundle.order.item.price'|trans }}
                </td>
                <td>
                    {{ 'template.store_template_bundle.order.item.total'|trans }}
                </td>
            </thead>
            <tbody>
                {% for line in order.orderLines %}
                    {% include "@Best365/User/order.item.html.twig" with { "line": line} %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="align-right"><span>{{ 'template.store_template_bundle.order.view.shipping'|trans }}</span> {{ order.shippingAmount|print_convert_money() }}</p>
    <p class="align-right"><span>{{ 'template.store_template_bundle.order.view.total'|trans }} </span>{{ order.amount|print_convert_money() }}</p>
</div>
{% endblock %}

