{% extends "@Best365/User/user.layout.html.twig" %}

{% block userbody %}
    <div class="col-xs-4">
        <p class="page-title">
            {{ "template.store_template_bundle.user.home.profile"|trans }}
        </p>
        <div class="margin-top-30">
            <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label">{{ 'store.user.form.fields.email.label'|trans }}</label>
                <div class="col-sm-8">
                    <label class="col-form-label">{{ customer.email }}</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="firstName" class="col-sm-4 col-form-label">{{ 'store.user.form.fields.firstname.label'|trans }}</label>
                <div class="col-sm-8">
                    <label class="col-form-label">{{ customer.firstName }}</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-4 col-form-label">{{ 'store.user.form.fields.lastname.label'|trans }}</label>
                <div class="col-sm-8">
                    <label class="col-form-label">{{ customer.lastName }}</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="Membership" class="col-sm-4 col-form-label">Membership</label>
                <div class="col-sm-8">
                    <label class="col-form-label">{{ customer.membership }}</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="currentPoint" class="col-sm-4 col-form-label">Current Point</label>
                <div class="col-sm-8">
                    <label class="col-form-label">{{ customer.currentPoint }}</label>
                </div>
            </div>
            <a href="{{ url('best365_store_user_edit') }}" class="btn btn-success full-width">
                {{ 'template.store_template_bundle.address.item.edit'|trans }}
            </a>
        </div>
        </div>
{% endblock %}