{% extends "@Best365/User/user.layout.html.twig" %}

{% block userbody %}
<div class="col-sm-10">
	<p class="page-title">
		{{ "template.store_template_bundle.user.edit.profile"|trans }}
	</p>
    {{ form_start(form) }}
    <div class="margin-top-30 profile-box padding-25">
        {{ form_row(form.email, { "attr": { "class": "form-control", "readonly": true } }) }}
        {{ form_row(form.firstname, { "attr": { "class": "form-control"} }) }}
        {{ form_row(form.lastname, { "attr": { "class": "form-control"} }) }}
        {{ form_row(form.password.first, { "attr": { "class": "form-control"} }) }}
        {{ form_row(form.password.second, { "attr": { "class": "form-control"} }) }}
    </div>
    {{ form_row( form.send, { "attr": { "class": "btn btn-success margin-top-30" } }) }}
    {{ form_end(form) }}
</div>
{% endblock %}