{% extends "@Best365/User/user.layout.html.twig" %}

{% block userbody %}
	<p class="page-title">
		{{ "template.store_template_bundle.user.edit.profile"|trans }}
	</p>
    {{ form_start(form) }}
    <div class="margin-top-30">
        {{ form_row(form.email, { "attr": { "class": "form-control", "readonly": true } }) }}
        {% if activeLocale == 'zh-CN' %}
            {{ form_row(form.lastname, { "attr": { "class": "form-control", "length": 255 } }) }}
            {{ form_row(form.firstname, { "attr": { "class": "form-control", "length": 255 } }) }}
        {% else %}
            {{ form_row(form.firstname, { "attr": { "class": "form-control", "length": 255 } }) }}
            {{ form_row(form.lastname, { "attr": { "class": "form-control", "length": 255 } }) }}
        {% endif %}
        {{ form_row(form.password.first, { "attr": { "class": "form-control"} }) }}
        {{ form_row(form.password.second, { "attr": { "class": "form-control"} }) }}
        <div class="form-group">
            <label>{{ "template.store_template_bundle.profile.membership"|trans }}</label>
            <input type="text" class="form-control" value="{{ customerMembership.membership.name }}" readonly>
        </div>
        <div class="form-group">
            <label>{{ "template.store_template_bundle.profile.current_point"|trans }}</label>
            <input type="text" class="form-control" value="{{ customerMembership.current_point }}" readonly>
        </div>
    </div>
    {{ form_widget(form.send, { 'attr': {'class': 'btn btn-success margin-top-30' } }) }}
    <a href="{{ url('best365_store_homepage') }}" class="btn btn-default margin-top-30 margin-left-15">{{ 'store.user.form.fields.cancel.label'|trans }}</a>
    {{ form_end(form) }}
{% endblock %}
