{% extends "@Best365/Layout/_layout.html.twig" %}

{% block prefooter %}
	<hr>
	<div class="row padding-0-30">
		{% block sidebar %}
			<div class="col-xs-2 list-group">
				<!-- <a href="#" class="list-group-item">
					Membership
				</a> -->
				<a href="{{ url("best365_store_user") }}" class="list-group-item list-group-item-action {% if app.request.attributes.get('_route') == "best365_store_user_edit" or app.request.attributes.get('_route') == "best365_store_user" %}list-group-item-success{% endif %}">
					{{ "template.store_template_bundle.user.home.profile"|trans }}
				</a>
				<a href="{{ url("best365_store_order_list") }}" class="list-group-item list-group-item-action {% if app.request.attributes.get('_route') == "best365_store_order_list" or app.request.attributes.get('_route') == "best365_store_order_view" %}list-group-item-success{% endif %}">
					{{ "template.store_template_bundle.user.home.my_orders"|trans }}
				</a>
				<a href="{{ url("best365_store_address_list") }}" class="list-group-item  list-group-item-action {% if app.request.attributes.get('_route') == "best365_store_address_list" or app.request.attributes.get('_route') == "best365_store_address_edit" or app.request.attributes.get('_route') == "best365_store_address_new" %}list-group-item-success{% endif %}">
					{{ "template.store_template_bundle.user.home.my_addresses"|trans }}
				</a>
				<!-- 
				<a href="#" class="list-group-item">
					Watchlist
				</a>
				-->
			</div>
		{% endblock %}
		<div class="col-xs-1">
		</div>
		{% block userbody%}
		{% endblock %}
	</div>
{% endblock %}