{% extends "@Best365/Layout/_layout.html.twig" %}

{% block prefooter %}
<div class="row login-content-container">
    <p class="login-title">
        {{ "template.store_template_bundle.user.login.create_new_account"|trans }}
    </p>
    <p class="font-11 sub-theme-font">
        {{ "template.store_template_bundle.user.login.email"|trans }}
    </p>
    {{ form_start(form) }}
    {{ form_row(form.email, { "attr": {"class": "form-control", "length": 255} }) }}
    {{ form_row(form.phone, { "attr": { "class": "form-control", "length": 255 } }) }}
    {% if activeLocale == "zh-CN" %}
        {{ form_row(form.lastName, { "attr": { "class": "form-control", "length": 255 } }) }}
        {{ form_row(form.firstname, { "attr": { "class": "form-control", "length": 255 } }) }}
    {% else %}
        {{ form_row(form.firstname, { "attr": { "class": "form-control", "length": 255 } }) }}
        {{ form_row(form.lastName, { "attr": { "class": "form-control", "length": 255 } }) }}
    {% endif %}
    {{ form_row(form.password.first, { "attr": { "class": "form-control"} }) }}
    {{ form_row(form.password.second, { "attr": { "class": "form-control"} }) }}
    {{ form_row( form.send, { "attr": { "class": "btn btn-success full-width" } }) }}
    {{ form_end(form) }}
    <h6 class="unregistered-title">
        {{ 'template.store_template_bundle.user.login.registered'|trans }}
    </h6>
    <a class="btn btn-default full-width" href="{{ url('best365_store_login') }}">
        {{ 'template.store_template_bundle.user.login.login_with_account'|trans }}
    </a>
</div>
{% endblock %}