{% extends "@Best365/Layout/_layout.html.twig" %}

{% block content %}
    <h3 class="main-theme-font">{{ page.title }}</h3>
    <p class="sub-theme-font">
        在惠灵顿开保健品店已经快13年了，主要服务当地人。在过去的三五年里很多客户问我为何不开个网站卖去国内。第一 网站的搭建并不是一件简单事，没干过怕服务做不好。第二，
        销售网站太多了，产品真假客人不好判断，老要质疑，怕解释起来麻烦。现在既然把网站开起来了，我们先解决真假的问题，惠灵顿我们有两个实体店，在一段时间内（我也不知道多久），只要是上班时间（中国时间早上5点至中午12点）我们提供视频直播卖货打包服务，
        并且尽量回答所有客户的提问，希望大家能满意。
    </p>
    <div class="sub-theme-font margin-top-30">
        <p class="bold">
            新西兰政府网站注册信息
        </p>
        <a class="main-theme-link" href="https://www.nzbn.govt.nz/nzbndetails#search=Hai+fu+yuan&details=9429035593348">Hai Fu Yuan Investment Ltd.</a>
    </div>
    <div class="sub-theme-font margin-top-30">
        <p class="bold">
            惠灵顿店
        </p>
        <p>
            地址: 177 Willis Street, Te Aro, Wellington 6011
        </p>
        <p>
            电话: 04-3853568
        </p>
        <p>
            Google信息
        </p>
        <div class="margin-bottom-20">
            <img width="100%" src="{{ asset('assets/img/bslocation.png') }}" alt="...">
        </div>
        <p>
            店面照片
        </p>
        <div class="margin-bottom-20">
            <img width="100%" src="{{ asset('assets/img/bsfront.png') }}" alt="...">
        </div>
        <div class="margin-top-20">
            <img width="100%" src="{{ asset('assets/img/bsstore.png') }}" alt="...">
        </div>
    </div>
    <div class="sub-theme-font margin-top-30">
        <p class="bold">
            下哈特店
        </p>
        <p>
            地址: 65 Queens Drive, Lower Hutt Central, Lower Hutt 5010
        </p>
        <p>
            电话: 04-5682758
        </p>
        <p>
            Google信息
        </p>
        <div class="margin-bottom-20">
            <img width="100%" src="{{ asset('assets/img/fhlocation.png') }}" alt="...">
        </div>
        <p>
            店面照片
        </p>
        <div class="margin-bottom-20">
            <img width="100%" src="{{ asset('assets/img/fhfront.png') }}" alt="...">
        </div>
        <div class="margin-bottom-20">
            <img width="100%" src="{{ asset('assets/img/fhstore.png') }}" alt="...">
        </div>
    </div>
    <div class="sub-theme-font margin-top-30">
        <p class="bold">
            客服微信
        </p>
        <div class="margin-bottom-20">
            <img width="100%" src="{{ asset('assets/img/customer_service_qrcode.png') }}" alt="...">
        </div>
    </div>
{% endblock %}
